<div ng-controller="homeController">
	<form class='form-inline col-md-10 col-md-offset-2' role="form">
		<div class="col-md-12">
			<div class="input-group">
				<span class="input-group-addon">会员卡号:</span>
				<select select2="card" style="width:250px">
							<option disabled selected value></option>
							<option ng-repeat="x in data.viplist" value="{{$index}}">{{x.card}}</option>
				</select>
			</div>
		</div>
		<h3 class="col-md-12">会员信息：</h3>
			<div class="col-md-12">
				<div class="input-group col-md-3">
					<span class="input-group-addon">用户名:</span>
					<input type="text" class="form-control" ng-model="info.name" disabled>
				</div>
				<div class="input-group col-md-3">
					<span class="input-group-addon">手机号:</span>
					<input type="text" class="form-control" ng-model="info.phone" disabled>
				</div>
				<div class="input-group col-md-3">
					<span class="input-group-addon">生日:</span>
					<input type="text" class="form-control" ng-model="info.birthday" disabled>
				</div>
				<div class="input-group col-md-3">
					<span class="input-group-addon">QQ/微信:</span>
					<input type="text" class="form-control"ng-model="info.qq" disabled>
				</div>
				<div class="input-group col-md-3">
					<span class="input-group-addon">会员等级:</span>
					<input type="text" class="form-control" ng-model="info.rank" disabled>
				</div>
				<div class="input-group col-md-3">
					<span class="input-group-addon">余额:</span>
					<input type="text" class="form-control" ng-model="info.balance" disabled>
				</div>
			</div>
		<h3 class="col-md-12">消费信息：</h3>
		<div class="col-md-12">
			<div class="input-group" style="height:34px;">
					<span class="input-group-addon">项目:</span>
					<select select2="project" class="js-example-basic-multiple" style="width:900px" multiple="multiple" ng-disabled="!info">
							<option ng-repeat="x in data.project" value="{{$index}}" >{{x.project}}</option>
					</select>
			</div>
		</div>
		<div class="col-md-12">
				<div class="col-md-4 input-group">
					<span class="input-group-addon">技师:</span>
					<select select2="operator" style="width: 250px;">
							<option disabled selected value></option>
							<option value="赵翠环">赵翠环</option>
					</select>
				</div>
		</div>		
		<h3 class="col-md-12">总览：</h3>
		<div class="col-md-12">
				<div class="input-group">
					<span class="input-group-addon">共计:</span>
					<input type="text" class="form-control" ng-model="input.sum" disabled>
					<span class="input-group-addon">元</span>
				</div>
		</div>

	</form>
	<div class="text-center" style="padding-top:300px;" >
				<button type="button"class="ladda-button btn btn-primary" data-style="zoom-in" ng-click="submit()" ng-disabled="!input.sum||!input.operator||!input.card||!input.project">
						<span class="ladda-label">确认</span>
				</button>
				<button type="button"  class="btn btn-success">取消</button>
	</div>
		<div class="modal fade" tabindex="-1" style='margin: 0 auto' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal="_error">
	   <div class="modal-dialog">
			  <div class="modal-content">
					 <div class="modal-header">
							<button type="button" class="close" 
							   data-dismiss="modal" aria-hidden="true">
									  &times;
							</button>
							<h6 class="modal-title">
									错误
							</h6>
					 </div>
					 <div class="modal-body">
							<h5>{{msg}}</h5>
					 </div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" >确定</button>
					 </div>
			</div>
	</div>
   </div>
</div>