<div class="col-md-10 col-md-offset-1" ng-controller="deposit">
	<div class="col-md-3">
		<select select2='card' style="width: 100%">
				<option disabled selected value></option>
				<option ng-repeat="x in store">{{x.card}}</option>
		</select>
	</div>
	<div class="col-md-3">
		<select select2='phone' style="width: 100%">
				<option disabled selected value></option>
				<option ng-repeat="x in store" >{{x.phone}}</option>
		</select>
	</div>
	<div style="padding-top:20px">
		<table class="table table-bordered text-center table-hover" style="table-layout:fixed;">
			<tr>
				<th class="text-center">卡号</th>
				<th class="text-center">姓名</th>
				<th class="text-center">等级</th>
				<th class="text-center">性别</th>
				<th class="text-center">手机号</th>
				<th class="text-center">生日</th>
				<th class="text-center">QQ/微信</th>
				<th class="text-center">余额</th>
				<th class="text-center" style="width:13%">操作</th>
			</tr>
			<tr ng-repeat="x in result" >
					<td>{{x.card}}</td>
					<td>{{x.name}}</td>
					<td>{{x.rank}}</td>
					<td>{{x.gender}}</td>
					<td>{{x.phone}}</td>
					<td>{{x.birthday}}</td>
					<td>{{x.qq}}</td>
					<td>{{x.balance}}</td>
					<td>
							<button type="button" class="ladda-button btn btn-primary" data-style="zoom-in" ng-click="operate('_deposit',$index)" >
								<span class="ladda-label">充值</span>
							</button>
							<button type="button" class="ladda-button btn btn-warning" data-style="zoom-in" ng-click="operate('_modify',$index)" >
								<span class="ladda-label">修改</span>
							</button>
					</td>
			</tr>
		</table>
	</div>
	 <div class="modal fade" tabindex="-1" style='margin: 0 auto' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal="_deposit">
		   <div class="modal-dialog">
				  <div class="modal-content">
						 <div class="modal-header">
								<button type="button" class="close" 
								   data-dismiss="modal" aria-hidden="true">
										  &times;
								</button>
								<h4 class="modal-title">
										充值会员
								</h4>
						 </div>
						 <div class="modal-body">
							<form name="form" id="form_add">
								<div class="input-group col-md-3 pull-left">
									<span class="input-group-addon">金额:</span>
									<input type="text" class="form-control" ng-model="modal_deposit.balance">
								</div>
								<div class="input-group col-md-3 ">
									<span class="input-group-addon">变更等级:</span>
									<select  class="form-control" ng-model="modal_deposit.rank" >
										<option disabled selected value></option>
										<option ng-repeat="x in viplist">{{x}}</option>
									</select>
								</div>
							</form>
						 </div>
						 <div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<button type="button" id="modal_add" class="btn btn-primary" ng-disabled="!modal_deposit.balance" ng-click="modal_operate('_deposit',dataindex)">
									 <span class="ladda-label">充值</span>
								</button>
						 </div>
				</div>
		</div>
  </div>
     <div class="modal fade" tabindex="-1" style='margin: 0 auto' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal="_modify">
		   <div class="modal-dialog">
				  <div class="modal-content">
						 <div class="modal-header">
								<button type="button" class="close" 
								   data-dismiss="modal" aria-hidden="true">
										  &times;
								</button>
								<h4 class="modal-title">
										修改信息
								</h4>
						 </div>
						 <div class="modal-body">
							<form name="myform">
								<div class="input-group col-md-6 pull-left">
									<span class="input-group-addon">姓名:</span>
									<input type="text" class="form-control" ng-model="modal_modify.name"  placeholder="{{result[dataindex].name}}">
								</div>
								<div class="input-group col-md-6 pull-right">
									<span class="input-group-addon">性别:</span>
									<select  class="form-control" ng-model="modal_modify.gender" >
											<option value="男">男</option>
											<option value="女">女</option>
									</select>
								</div>
								<div class="input-group col-md-6 pull-left">
									<span class="input-group-addon">手机号:</span>
									<input type="text" class="form-control" ng-model="modal_modify.phone"  placeholder="{{result[dataindex].phone}}">
								</div>
								<div class="input-group col-md-6 pull-right">
									<span class="input-group-addon">生日:</span>
									<div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" datetime >
									<input class="form-control" size="16" type="text"  ng-model="modal_modify.birthday" placeholder="{{result[dataindex].birthday}}">
									<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
								<div class="input-group col-md-6">
									<span class="input-group-addon">QQ/微信:</span>
									<input type="text" class="form-control" ng-model="modal_modify.qq" placeholder="{{result[dataindex].qq}}" >
								</div>
							</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel('_modify')">取消</button>
								<button type="button" class="btn btn-primary" ng-click="modal_operate('_modify',dataindex)" ng-disabled="!modal_modify.qq&&!modal_modify.birthday&&!modal_modify.phone&&!modal_modify.gender&&!modal_modify.name&&!modal_modify.card">
									 <span class="ladda-label">修改</span>
								</button>
								
						 </div>
						 </div>
				</div>
		</div>
</div>