<div class="col-md-10 col-md-offset-1" ng-controller="free">
	<div class="text-center pull-left" style="padding-top:12px">
			<button type="button" class="ladda-button btn btn-primary" data-style="zoom-in" ng-click="operate('add')">
					<span class="ladda-label">新增会员</span>
			</button>
	</div>
	<div style="padding-top:50px">
			<div ui-grid="gridOptions" ui-grid-edit class="grid" ></div>
	</div>
   <div class="modal fade" tabindex="-1" style='margin: 0 auto' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal="add">
		   <div class="modal-dialog">
				  <div class="modal-content">
						 <div class="modal-header">
								<button type="button" class="close" 
								   data-dismiss="modal" aria-hidden="true">
										  &times;
								</button>
								<h4 class="modal-title">
										新增会员
								</h4>
						 </div>
						 <div class="modal-body">
							<form name="myform">
								<div class="input-group col-md-6">
									<span class="input-group-addon">名称:</span>
									<input type="text" class="form-control" ng-model="free.name"  >
								</div>
							</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
								<button type="button" class="btn btn-primary" ng-disabled="!free.name" ng-click="add()">
									 <span class="ladda-label">确定</span>
								</button>	
						 </div>
				</div>
		</div>
  </div>
</div>